body {
  background-color: #f2e9dd;
}
#view-source {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}
@media only screen and (min-width: 1200px) {
  .nav-wrapper {
    padding: 0em 22em;
  }
}
#map {
        height: 25rem;
        width: 100%;
       }

.card {
  display: block;
}
.card .card-title {
  text-shadow: 0px 3px 30px rgba(0, 0, 0, 1);
}

.card .card-content {
  padding: 12px 12px;
}
.card .card-image .card-title {
  padding:  12px 12px;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
