<section>
  <div class="adv white">
  	<div class="container">
  		<div class="row">
  			<div data-match-height="items-a" class="dani col l4 m6 s12">
  				<h3 class="center"><i class="material-icons">thumb_up</i> Descoperă sosul de roșii
  				</h5>
  				<p class="flow-text light">Suntem sinceri cu tine si recunoastem ca ingredientele nu-s de la noi din gradina. In fiecare dimineata, la noi in bucatarie, in loc de cafea, miroase a busuioc si alte condimente atunci cand preparam sosul. Si ne place atat de mult, ca o facem zilnic.</p>
  			</div>
  			<div data-match-height="items-a" class="dani col l4 m6 s12">
  				<h3 class="center"><i class="material-icons">thumb_up</i> Descoperă sosul de roșii
  				</h5>
  				<p class="flow-text light">Suntem sinceri cu tine si recunoastem ca ingredientele nu-s de la noi din gradina. In fiecare dimineata, la noi in bucatarie, in loc de cafea, miroase a busuioc si alte condimente atunci cand preparam sosul. Si ne place atat de mult, ca o facem zilnic.</p>
  			</div>
  			<div data-match-height="items-a" class="dani col l4 m6 s12">
  				<h3 class="center"><i class="material-icons">thumb_up</i> Descoperă sosul de roșii
  				</h5>
  				<p class="flow-text light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  			</div>

  		</div>
  	</div>
  </div>


  <!-- cards -->

  <!-- <div class="container">
      <div class="row">
          <div class="col l4 s12 m6 same">
              <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                      <span class="card-title">Descoperă sosul de roșii</span>
                      <p>Suntem sinceri cu tine si recunoastem ca ingredientele nu-s de la noi din gradina. In fiecare dimineata, la noi in bucatarie, in loc de cafea, miroase a busuioc si alte condimente atunci cand preparam sosul. Si ne place atat de mult, ca o facem zilnic.</p>
                  </div>
                  <div class="card-action">
                      <a href="#">This is a link</a>
                      <a href="#">This is a link</a>
                  </div>
              </div>
          </div>
          <div class="col l4 s12 m6 same">
              <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                      <span class="card-title">Plata cu cardul</span>
                      <p>La Trenta Pizza iti poti plati comanda cu card bancar. Plata cu card bancar se poate realiza si in cazul comenzilor cu livrare daca se solicita deplasarea unui POS mobil in momentul plasarii comenzii.
                          <br> Pentru plata sunt acceptate cardurile Maestro, Visa, Visa Electron si Mastercard.</p>
                  </div>
                  <div class="card-action">
                      <a href="#">This is a link</a>
                      <a href="#">This is a link</a>
                  </div>
              </div>
          </div>
          <div class="col l4 s12 m6 same">
              <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                      <span class="card-title">Pizza de Post</span>
                      <p>In meniul Trenta Pizza gasesti si pizza de post: Comanda pizza Margherita si pizza Vegetariana de post.</p>
                  </div>
                  <div class="card-action">
                      <a href="#">This is a link</a>
                      <a href="#">This is a link</a>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  
</section>
