<div class="adv">
  <div class="container">
    <div class="row">
      <div class="col l4 m4 s12 z-depth-2">
            <i class="material-icons">thumb_up</i>
        <h3 class="center">Descoperă sosul de roșii</h5>
        <p class="flow-text light">Suntem sinceri cu tine si recunoastem ca ingredientele nu-s de la noi din gradina. In fiecare dimineata, la noi in bucatarie, in loc de cafea, miroase a busuioc si alte condimente atunci cand preparam sosul. Si ne place atat de mult, ca o facem zilnic.</p>
      </div>
      <div class="col l4 m4 s12 z-depth-2">
        <i class="material-icons">credit_card</i>
        <h3 class="center">Plata cu cardul</h3>
        <p class="flow-text light">La Trenta Pizza iti poti plati comanda cu card bancar. Plata cu card bancar se poate realiza si in cazul comenzilor cu livrare daca se solicita deplasarea unui POS mobil in momentul plasarii comenzii.
            <br>
            <br>Pentru plata sunt acceptate cardurile Maestro, Visa, Visa Electron si Mastercard. </p>
      </div>
      <div class="col l4 m4 s12 z-depth-2">

        <h3 class="center"><i class="material-icons">thumb_up</i>Pizza de Post </h3>
        <p class="flow-text light">In meniul Trenta Pizza gasesti si pizza de post: Comanda pizza Margherita si pizza Vegetariana de post. </p>
      </div>
    </div>
  </div>
</div>
