<footer class="page-footer brown">
  <div class="container">
    <div class="mdl-grid">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>


      <div class="row">
        <div class="col l4 m6 s12 ">
          <h5 class="white-text">Informații de contact</h5>
          <ul>
<li class="grey-text text-lighten-3">Pizza Party SRL</li>
<li class="grey-text text-lighten-3">Bulevardul Transilvaniei 20, Alba Iulia, Romania</li>
<li class="grey-text text-lighten-3">T: +4 0724 181 546</li>
<li class="grey-text text-lighten-3">Email: office (at) pizzaparty.ro</li>
          </ul>
        </div>
        <div class="col l4 m6 s12">
          <h5 class="white-text">Sitemap</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="{{site.baseurl}}/menu">Meniu</a></li>
            <li><a class="grey-text text-lighten-3" href="{{site.baseurl}}/contact">Contactează-ne</a></li>
            <li><a class="grey-text text-lighten-3" href="https://facebook.com/PizzaParty">Urmărește-ne pe Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/PizzaParty">Urmărește-ne pe Instagram</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="center">
    Created with <span id="love">❤</span> in Romania
  </div>
  <div class="footer-copyright">
    <div class="container">
            &copy; 2008<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script> Pizza Party SRL, Toate drepturile rezervate.
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
