<section>
  <form id="gform" class="container" action="https://script.google.com/macros/s/AKfycbwqh2t1k7zfaMnrZ-6wlcEYCWzUmDa8nE3cIwzf4HCZ3J_WfwE/exec" method="POST">
    <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">

        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

        <input type="submit" value="Submit">
  </form>

</section>
