<section>
    <div class="container z-depth-2 white">
        <div class="row">
          <div class="col s12 m12 l9 xl9">
            <h3 class="center">Contactează-ne și îți vom răspunde în cel mai scurt timp!</h3>
            <form id="gform" class="" action="https://script.google.com/macros/s/AKfycbwqh2t1k7zfaMnrZ-6wlcEYCWzUmDa8nE3cIwzf4HCZ3J_WfwE/exec" method="POST">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

                <input type="submit" value="Submit">
            </form>
          </div>
        </div>
    </div>
</section>
