<section>
  <div class="row grid">
    <h2>Cele mai populare pizza</h2>
    <div  class="col xl3 l4 s12 m4 cell">
      <div class="card">
        <div class="card-image">
          <img src="{{site.baseurl}}/assets/320.jpg">
          <span class="card-title">Pizza Quadro Formaggi</span>
        </div>
        <div data-match-height="items-a" class="card-content">
          <p>Ingrediente: aluat, sos de roșii, cașcaval, mozzarela, șuncă, ciuperci, gorgonzolla, parmezan</p>
        </div>
        <div class="card-action">
          <span>Preț: 14 RON</span>
        </div>
      </div>
    </div>
    <div class="col xl3 l4 s12 m4 cell">
      <div class="card">
        <div class="card-image">
          <img src="{{site.baseurl}}/assets/320.jpg">
          <span class="card-title">Pizza Quadro Formaggi</span>
        </div>
        <div data-match-height="items-a" class="card-content">
          <p>Ingrediente: aluat, sos de roșii, cașcaval, mozzarela, șuncă, ciuperci, gorgonzolla, parmezan</p>
        </div>
        <div class="card-action">
          <span>Preț: 14 RON</span>
        </div>
      </div>
    </div>
    <div   class="col xl3 l4 s12 m4 cell">
      <div class="card">
        <div class="card-image">
          <img src="{{site.baseurl}}/assets/320.jpg">
          <span class="card-title">Pizza Quadro Formaggi</span>
        </div>
        <div data-match-height="items-a" class="card-content">
          <p>Ingrediente: aluat, sos de roșii, cașcaval, mozzarela, șuncă, ciuperci, gorgonzolla, parmezan</p>
        </div>
        <div class="card-action">
          <span>Preț: 14 RON</span>
        </div>
      </div>
    </div>
    <div   class="col xl3 l4 s12 m4 cell">
      <div class="card">
        <div class="card-image">
          <img src="{{site.baseurl}}/assets/320.jpg">
          <span class="card-title">Pizza Quadro Formaggi</span>
        </div>
        <div data-match-height="items-a" class="card-content">
          <p>Ingrediente: aluat, sos de roșii, cașcaval, mozzarela</p>
        </div>
        <div class="card-action">
          <span>Preț: 14 RON</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row center">
    <div class="col s12 l12 m12">
      <a class="btn-large waves-effect waves-light red darken-4" href="{{site.baseurl}}/menu">Vezi meniul complet</a>
    </div>
  </div>
</section>
