<nav class="deep-orange darken-3" id="transparentNav">
  <div class="nav-wrapper">
    <a href="{{site.baseurl}}/" class="brand-logo">Pizza Party</a>
    <a href="{{site.baseurl}}/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li {% if page.url == '/menu/' %}class="active"{% endif %}><a href="{{site.baseurl}}/menu">Meniu</a></li>
      <li  {% if page.url == '/contact/' %}class="active"{% endif %}><a href="{{site.baseurl}}/contact">Contactează-ne</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li {% if page.url == '/menu/' %}class="active"{% endif %}><a href="{{site.baseurl}}/menu">Meniu</a></li>
      <li {% if page.url == '/contact/' %}class="active"{% endif %}><a href="{{site.baseurl}}/contact">Contactează-ne</a></li>
    </ul>
  </div>
</nav>
