<nav class="red darken-2" id="transparentNav">
  <div class="container">
    <ul>
      <li>
        {% if page.url == '/en/' %}
        <a href="{{site.baseurl}}/en" class="brand-logo">Pizza Party</a>
        {% else %}
        <a href="{{site.baseurl}}/" class="brand-logo">Pizza Party</a>
        {% endif %}
      </li>
      <li class="right">
        {% if page.url == '/en/' %}
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/ro.svg" alt="Language: Romanian"></a>
        {% else %}
        <a href="{{site.baseurl}}/en"><img src="{{site.baseurl}}/assets/gb.svg" alt="Language: English"></a>
        {% endif %}
      </li>
    </ul>
    <a data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li {% if page.url == '/menu/' %}class="active"{% endif %}>
        {% if page.url == '/en/' %}
        <a href="{{site.baseurl}}/en/menu">Menu</a>
        {% else %}
        <a href="{{site.baseurl}}/menu">Meniu</a>
        {% endif %}
      </li>
      <li {% if page.url == '/contact/' %}class="active"{% endif %}>
        {% if page.url == '/en/' %}
        <a href="{{site.baseurl}}/en/contact">Contact us</a>
        {% else %}
        <a href="{{site.baseurl}}/contact">Contactează-ne</a>
        {% endif %}
      </li>
    </ul>

    <!-- sideNav  de adaugat ca sa fie frumos-->

    <ul class="side-nav" id="mobile">
      <li id="sideNavLogo">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/logo.svg" alt="Pizza Party Logo"></a></li>
      <li {% if page.url == '/menu/' %}class="active"{% endif %}>
        <a href="{{site.baseurl}}/menu">Meniu</a></li>
      <li {% if page.url == '/contact/' %}class="active"{% endif %}>
        <a href="{{site.baseurl}}/contact">Contactează-ne</a></li>
      <li>
        <a href="{{site.baseurl}}/#hours">Program</a>
      </li>
      <li>
        <ul class="collapsible collapsible-accordion">
          <li {% if page.url == '/contact/' %}class="active"{% endif %}>
            <a class="collapsible-header">Call</a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <a href="tel:0763095010">0763 095 010</a>
                </li>
                <li>
                  <a href="tel:0763095010">0763 095 65446</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
