<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center">Pizza Party</h1>
        <div class="row center">
          <h5 class="header col s12">Cea mai buna pizza din oraș!</h5>
        </div>
        <div class="row center">
          <a href="#" id="" class="btn-large waves-effect waves-light">VEzi mai multe</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{{site.baseurl}}/assets/parallax.png" alt="Unsplashed background img 1"></div>
  </div>
