<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Restaurant",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Alba Iulia",
    "addressRegion": "Romania",
    "postalCode": "510077",
    "streetAddress": "Transilvaniei nr 20"
  },
  "name": "Pizza Party",
  "openingHours": [
    "Mo-Fr 09:00-21:00",
    "Sa-Su 11:00-21:00"
  ],
  "priceRange": "$$",
  "servesCuisine": [
    "Middle Eastern",
    "Mediterranean"
  ],
  "telephone": "(408) 714-1489",
  "url": "http://www.pizzapartyalba.ro",
  "sameAs":[
    "http://www.facebook.com/pizzaparty",
    "http://www.instagram.com/pizzaparty"
    ]
}
</script>
