<section class="green valign-wrapper" id="testimonial">
  <div class="container">
    <div class="row center" style="margin-bottom: 0">
      <div class="col s12 m6 offset-m3">
        <h3>"This is the place where you can get one of the best pizza in town. It's a little hard to find, but all the great places are. The size of the pizza is just right and the price affordable."</h3>
      </div>
      <div class="col s12 m6 offset-m3">
        <h5>Marius, client</h5>
      </div>
    </div>
  </div>
</div>
</section>
