<!DOCTYPE html>
<html lang=ro>
<head>
    <meta charset=utf-8>
    <meta content="IE=edge" http-equiv=X-UA-Compatible>
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <meta content="todo" name=description>
    <title>{{page.title}}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

    <link href=/apple-touch-icon.png rel=apple-touch-icon>
    <link href=/favicon.ico rel=icon>
</head>
<body>

  {% include .html %}
{{content}}




<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>
