<!DOCTYPE html>
<html lang=ro>
<head>
    <meta charset=utf-8>
    <meta content="IE=edge" http-equiv=X-UA-Compatible>
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <meta content="todo" name=description>
    <title>{{page.title}}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
<link rel="stylesheet" href="{{site.baseurl}}css/main.css">
    <link href=/apple-touch-icon.png rel=apple-touch-icon>
    <link href=/favicon.ico rel=icon>
</head>
<body>
  <style>
  #view-source {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
  }
  @media only screen and (min-width: 1200px) {
    .nav-wrapper {
      padding: 0em 22em;
    }
  }


  </style>


  {% include navbar.html %}
{{content}}

<a href="tel:+0763095010" class="btn-floating btn-large waves-effect waves-light red" id="view-source"><i class="material-icons">call</i></a>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
<script src="{{site.baseurl}}js/main.js">

</script>
</body>
</html>
